/*configuraçoes iniciais do projecto==> Incluindo outros css*/

@import url('home_index.css');
@import url('_about.css');
@import url('');

:root {
    --primarycolor: #333;
    --branca: #fff;
    --rosa:#ebb987;
    --valor1: 10px 0;
    --valor2: 20px 0;
    --valor3: 30px 0;
}

/*configuraçoes iniciais do projecto==> padrao*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

a{
    text-decoration: none;
    color: #333;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/* replicacoes do sistema */

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color:var(--rosa);
}

.lead{
    font-size: 20px;
}

.l-heading{
    font-size: 40px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color:var(--branca);
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn-light{
    background:#f4f4f4;
    color: #333;
  }

  /* fundos bg.. */

  .bg-dark{
    background: #333;
    color:#f4f4f4;
  }

  .bg-ligth{
    background:#f4f4f4;
    color: #333;
  }

.bg-primary{
    background: var(--rosa);
    color: var(--primarycolor);
}

.btn:hover{
    background: var(--rosa);
    columns: #333;
}

/*paddingo padroes*/

.py-1{
    padding: var(--valor1);
}

.py-2{
    padding: var(--valor2);
}

.py-3{
    padding: var(--valor3);
}

/*configuraçoes iniciais do projecto ==> FONTES*/

@font-face {
    font-family: 'anton';
    src: url('/css/Anton-Regular.ttf');
}


@font-face {
    font-family: 'indie';
    src: url('/css/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'mansalva';
    src: url('/css/Mansalva-Regular.ttf');
}









